
.footer {
  background-color: #111827;
  color: #c6202b;
  text-align: center;
  padding: 12px;
  margin-top: 50px;
  margin-bottom:0px ;
  background-color: rgb(137, 153, 153);
  border-radius: 20%;

}
.header{
  text-align: center;
  background-color: rgb(120, 198, 130);
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 10%;
}
